:root {
    --system-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Oxygen-Sans, Ubuntu, Cantarell, Arial, sans-serif, color-emoji;
    --system-fonts-serif: 'Iowan Old Style', 'Palatino Linotype', Palatino, 'URW Palladio L', Athelas, Cambria, Constantia, Charter, Georgia, serif, color-emoji;
    --system-fonts-monospace: Menlo, SFMono-Regular, Monaco, Consolas, 'Liberation Mono', 'Courier New', Courier, monospace, color-emoji;
    --code-font: var(--system-fonts-monospace);
    --border-line: 1px dotted rgba(222, 123, 69, 0.333);
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    line-height: 1.75rem;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 3%;
    background-color: #e6ffec;
    color: #222;

    font-family: var(--code-font), var(--system-fonts);
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

h1,
h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #005070;
}

h2 {
    font-size: 1.5rem;
}

form {
    display: block;
}

form input,
form button {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

button,
select {
    background-color: #f3f9ff;
}

hr {
    border: 0;
    border-top: var(--border-line);
}

code {
    font-weight: bold;
}

#icon {
    width: 4rem;
    vertical-align: middle;
}

#last-updated {
    text-align: right;
}

#topAndRecent {
    font-size: 90%;
}

#rank-period {
    font: inherit;
    font-size: 80%;
}

#segments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.1vw;
    margin-bottom: 5rem;
}

.segment {
    width: 11%;
    min-width: 13ch;
    min-height: 6rem;
    padding: 8px 4px;
    padding-right: 1ch;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    flex-grow: 0;

    text-align: right;
    transition: 100ms ease-in-out;
    transform: matrix(1, -0.025, 0, 1, 0, 0);
    opacity: 0.8;
}
.segment:not(.segment-empty):hover {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.5);
    opacity: 1;
    z-index: 999;
}

.segment-empty {
    pointer-events: none;
    user-select: none;
    background-color: #0050701a;
    opacity: 0.5;
}
.segment-tied {
    background-color: #0050701a;
    background: repeating-linear-gradient(
        135deg,
        #fff,
        #fff 10px,
        #f6f6f6 10px,
        #f6f6f6 20px
    );
}

.segment > * {
    display: block;
}

.segment-cidr {
    width: 100%;
    text-align: right;
}
.segment-nick {
    word-wrap: break-word;
    font-size: 90%;
}
.segment-count {
    font-size: 70%;
}

/* n + (1 + x) */
.topN > *:nth-child(n + 4) {
    display: none;
}

.rust {
    color: #742;
}

@media (orientation: landscape) {
    #topAndRecent {
        display: grid;
        grid-template-columns: auto max-content;
    }
    #topAndRecent > div:nth-child(2) {
        margin-left: 2rem;
        padding-left: 2rem;
        text-align: right;
        border-left: var(--border-line);
    }
}
@media (orientation: portrait) {
    h1,
    h2,
    form {
        text-align: center;
    }
}
